
.container{
    background-image: url('https://images.unsplash.com/photo-1592487501226-7ed5e5dc80f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    height: 103vh;
    background-position: center ;
    background-size: cover;
    margin-top: -27px;
}

.btn{
    border: white 2px solid;
    background-color: white;
    color: #FFB100;
    border-radius: 25px;
    font-size: 20px;
    padding: 10px 15px;
    display: inline-block;
}

.textAndbtn{
    color: #3750FE;
    font-size: 20px;
    padding-top: 200px;
    
}

.btn:hover{
    color: white;
    border: white solid 2px;
    background-color: transparent;
}

.title{
    background-color: rgba(0,0,0,0.6);
    width: 700px;
    margin: 15px auto;
    border-radius: 10px;
    color: aliceblue;
    padding: 8px 10px;
    
}

/* #3750FE */
/* #FFB100 */