.detailContainer{
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 45px;
    height: 545px;
    align-items: center;
}

.totalCont{
    height: 100vh;
}

.leftBox{

}

.middleBox{
    max-width: 400px;
}

.rightBox{
    max-width: 440px;
    max-height: 392px;
}

.img{
    max-width: 480px;
}

.threeElements{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.activityBox{
    border: #44BA94 1px solid;
    margin: 10px 0px;
    color: #49494C;
    padding: 10px 20px;
}

.activityTitle{
    color: #44BA94;
}

.generalinfoTitle{
    color: #44BA94;
}

.generalInfoBox{
    margin: 40px 0px;
    color: #49494C;
    max-height: 273px;
}

.footer{
    background-color: #49494C;
    color: #49494C;
}

@media all and  (max-width: 820px){
    
    .detailContainer{
        display: block;
        flex-wrap: wrap;
        width: unset;
        height: fit-content;
    }

    .leftBox{
        width: 100%;
    }

    .generalInfoBox{
        max-height: 273px;
    }

    .activityBox{
        max-height: 273px;
    }

    .img{
        max-width: 100%;
    }
}